:root{
    --primary-color:#FD6F00;
    --secondary-color:#F8F8F8;
    --background-color:white;
    --footer-background-color:#F7F7F7;
    --primary-font-color:black;
    --primary-contrast:30%;
    --primary-invert:0%;
}
body{
    margin: 0;
    background-color: var(--background-color);
}
html {
    scroll-behavior: smooth;
  }