.container {
  display: flex;
  width: 73%;
  justify-content: space-between;
  padding: 3.3rem 1rem;
  overflow: hidden;
}
.infoSection h1 {
  font-size: 4rem;
  margin: 0;
  font-weight: 800;
  letter-spacing: 0.15rem;
  color: var(--primary-font-color);
}
.infoSection h4{
  color: var(--primary-font-color);
  margin: 0.5rem 0;
}
.indent {
  margin-left: 9rem;
}
.infoSection h3 {
  color: var(--primary-color);
  margin: 0;
}
.infoSection {
  width: 40.5%;
}
.infoSection button {
  border: none;
  background-color: var(--primary-color);
  color: white;
  padding: 0.5rem 2rem;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.infoSection button:hover {
  background-color: brown;
}
.infoSection button:active {
  opacity: 0.5;
  box-shadow: 0 0.3rem 0.3rem black;
  transform: scale(0.95, 0.95);
}
.infoSection p {
  text-align: justify;
  font-size: 0.9rem;
  line-height: 1.3rem;
  color: var(--primary-font-color);
}
.photoSection {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
  gap: 1rem;
}
.frame {
  /* overflow: hidden; */
  border-radius: 50%;
  display: flex;
  justify-content: flex-end;
  align-content: flex-end;
  height: fit-content;
  width: fit-content;
  position: relative;
  background-color: white;
  /* box-shadow: 0 0 1rem white; */
}
.frame::before {
  content: "";
  position: absolute;
  height: 102%;
  width: 102%;
  background: linear-gradient(rgba(0, 0, 0, 0.26), var(--primary-color));
  border-radius: 50%;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.firstImage {
  border-radius: 50%;
  -webkit-user-drag: none;
  user-select: none;
}
.secondImage {
  position: absolute;
  top: -4.9rem;
  left: -0.5rem;
  -webkit-user-drag: none;
  user-select: none;
}
.block {
  position: absolute;
  height: 3rem;
  width: 15rem;
  background-color: var(--primary-color);
  opacity: 0.6;
  z-index: 1000;
  top: 0;
}
.socials button {
  border: none;
  background-color: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-content: center;
  position: relative;
  transition: padding 0.2s ease-in-out, transform 0.2s ease-in-out;
  background-color: var(--background-color);
}
.socials button a *{
  filter: invert(var(--primary-invert));
}
.socials {
  display: flex;
  gap: 0.3rem;
  position: absolute;
  bottom: -1.5rem;
  height: 2rem;
  align-items: flex-end;
}
