.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: fit-content;
    gap: 3rem;
}
.logoSection{
    display: flex;
    gap: 0.5rem;
    align-items: center;
}
.navs>ul{
    list-style-type: none;
    display: flex;
    gap: 1.5rem;
    align-items: center;
}
.navs>ul li:last-child{
    background-color: #FD6F00;
    padding: 0.7rem 1.3rem;
    border-radius: 5px;
    color: white;
}
.logoSection h1{
    font-weight: 300;
    font-size: 2.5rem;
    color: #545454;
    letter-spacing: 2px;
}
.logoSection h1::first-letter{
    font-weight: bold;
    color: black;
}